* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
  font-size: xxx-large;
}

#inp {
  height: 100px;
  width: 100px;
  margin: 3% auto;
  position: relative;
}

#ans {
  width: 400px;
  height: 100px;
  padding: 5px;
  letter-spacing: 2px;
  position: relative;
  left: -100%;

  word-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 30px;
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 20px;
  border-bottom: none;
}
#keyboard {
  height: 100px;
  width: 100px;
  display: grid;
  position: absolute;
  left: -100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: aqua;
  background-color: rgb(31, 29, 24);
}
#Zero {
  grid-column: -5/-3;
  width: 200px;
  border-radius: 50px;
}
